<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>regrexreplace.applescript</string>
			<key>Image File</key>
			<string>regrexreplace.png</string>
			<key>Title</key>
			<string>Regrex Replace</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Replace all patterns matching with input.</string>
	<key>Extension Identifier</key>
	<string>com.trieuminhtien.popclip.extension.regrexreplace</string>
	<key>Extension Name</key>
	<string>Regrex Replace</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>